header {
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header nav a {
    color: #000;
    margin: 15px;
}

header a:hover {
    color: var(--brand-color)
}

#login-nav {
    min-width: fit-content;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* top-section */

#top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}

#top-section .section-head {
    color: var(--brand-color)
}

#top-section .main-head {
    font-size: 96px;
    font-weight: 400;
}

#top-section nav {
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
    justify-content: space-around;
}

#project-button,
#get-in-touch-button {
    display: block;
    width: 232px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#get-in-touch-button {
    background-color: var(--brand-color);
    color: #fff;
    border-radius: 4px;
}

#video {
    max-width: 100%;
}


/* what we do */

#what-we-do-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
}

#what-we-do-section #text {
    text-align: center;
}

#what-we-do-section #menu {
    position: relative;
    display: flex;
    flex-direction: column;
}

#what-we-do-section #menu-navs {
    display: flex;
    justify-content: space-around;
}

#what-we-do-section #menu-navs span {
    font-weight: 600;
    font-size: 3vw;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}

#what-we-do-section #menu-style {
    width: 100%;
    height: 3px;
    position: relative;
    background-color: #1E1E1E;
}

#what-we-do-section #menu #menu-nav-underline {
    width: 200px;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    background-color: var(--brand-color);
}


/*      menu display        */

#menus {
    background-color: rgba(204, 32, 32, 0.06);
}

.menu-display {
    padding: 52px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: auto;
    justify-content: space-between;
}

.menu-display-card {
    min-width: 400px;
    height: 370px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.8);
}

.menu-card-text {
    font-weight: 800;
    font-size: 16px;
    line-height: 29px;
}

.menu-card-head {
    font-size: 24px;
    font-weight: 600;
}

.menu-display-card a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}

@media (max-width:800px) {
    .menu-display {
        display: flex;
    }
}


/*      our product     */

#our-products-section h3 {
    font-size: 32px;
    font-weight: 400;
}


/*      meet our talent     */

#meet-our-talent #team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
}

#meet-our-talent .team-member-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#meet-our-talent #form-card {
    width: 100%;
    min-height: 520px;
    padding: 50px;
    margin-top: 40px;
    background-color: rgba(204, 32, 32, 0.8);
    color: #fff;
    display: flex;
    gap: 30px;
    position: relative;
}

#meet-our-talent #form-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#meet-our-talent #form-card-head {
    font-size: 24px;
    font-weight: 700;
}

#meet-our-talent #form-card-text {
    font-size: 48px;
    font-weight: 400;
}

#form-card .form-field {
    display: flex;
    flex-direction: column;
}

#form-card label {
    font-weight: 500;
    font-size: 16px;
}

#form-card form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#form-card form input,
#form-card form textarea {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    border: 0;
    outline: 0;
    color: #fff;
    padding: 0 20px;
}

#form-card form #project-input {
    min-height: 124px;
    padding: 20px;
}

#form-card #form-submit-button {
    width: 100%;
    margin: 20px 0;
    font-weight: 500;
    font-size: 16px;
    background-color: #fff;
    color: var(--brand-color)
}


/* product associate        */

#our-product-associate-section .head-text {
    font-size: 40px;
    font-weight: 400;
}


/* faq */

#faq-section {
    background-color: rgba(204, 32, 32, 0.04);
    padding: 60px 10vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#faq-section #faq-head {
    text-align: center;
    font-family: fraunces;
    color: var(--brand-color)
}

#faq-section p {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}

#faq-section #questions-block {
    display: flex;
    flex-direction: column;
}

#faq-section .question {
    border: 1px var(--brand-color) solid;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    min-height: 80px;
    color: var(--brand-color)
}

#faq-section .question::after {
    content: url(../images/Vector\ \(5\).svg);
    display: block;
}

#faq-section .answer {
    overflow: hidden;
    height: 0;
    padding-left: 20px;
    transition: height 1s;
    border-left: 1px var(--brand-color) solid;
    border-right: 1px var(--brand-color) solid;
}

#faq-section .question.active+.answer {
    height: 100px;
}

#faq-section .question.active::after {
    content: url(../images/Vector\ \(1\).svg)
}


/* footer */


/* footer {
    padding: 0 5vw;
} */

footer #footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

footer #bismuth-footer-section {
    width: 400px;
    font-size: 20px;
    font-weight: 400;
}

footer #footer-logo {
    width: 160px
}

footer .footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .footer-section .footer-head {
    color: var(--brand-color);
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 30px;
}

footer .footer-section a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

footer #social-links {
    display: flex;
    justify-content: space-between;
}

#copy-right-section {
    height: 120px;
    background-color: var(--brand-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1120px) {
    #meet-our-talent #form-card {
        flex-direction: column;
    }
}
header {
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header nav a {
    color: #000;
    margin: 15px;
}

header a:hover {
    color: var(--brand-color)
}

#login-nav {
    min-width: fit-content;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* top-section */

#top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}

#top-section .section-head {
    color: var(--brand-color)
}

#top-section .main-head {
    font-size: 96px;
    font-weight: 400;
}

#top-section nav {
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
    justify-content: space-around;
}

#project-button,
#get-in-touch-button {
    display: block;
    width: 232px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#get-in-touch-button {
    background-color: var(--brand-color);
    color: #fff;
    border-radius: 4px;
}

#video {
    max-width: 100%;
}


/* what we do */

#what-we-do-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
}

#what-we-do-section #text {
    text-align: center;
}

#what-we-do-section #menu {
    position: relative;
    display: flex;
    flex-direction: column;
}

#what-we-do-section #menu-navs {
    display: flex;
    justify-content: space-around;
}

#what-we-do-section #menu-navs span {
    font-weight: 600;
    font-size: 3vw;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}

#what-we-do-section #menu-style {
    width: 100%;
    height: 3px;
    position: relative;
    background-color: #1E1E1E;
}

#what-we-do-section #menu #menu-nav-underline {
    width: 200px;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    background-color: var(--brand-color);
}


/*      menu display        */

#menus {
    background-color: rgba(204, 32, 32, 0.06);
}

.menu-display {
    padding: 52px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: auto;
    justify-content: space-between;
}

.menu-display-card {
    min-width: 400px;
    height: 370px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.8);
}

.menu-card-text {
    font-weight: 800;
    font-size: 16px;
    line-height: 29px;
}

.menu-card-head {
    font-size: 24px;
    font-weight: 600;
}

.menu-display-card a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}

@media (max-width:800px) {
    .menu-display {
        display: flex;
    }
}


/*      our product     */

#our-products-section h3 {
    font-size: 32px;
    font-weight: 400;
}


/*      meet our talent     */

#meet-our-talent #team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
}

#meet-our-talent .team-member-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#meet-our-talent #form-card {
    width: 100%;
    min-height: 520px;
    padding: 50px;
    margin-top: 40px;
    background-color: rgba(204, 32, 32, 0.8);
    color: #fff;
    display: flex;
    gap: 30px;
    position: relative;
}

#meet-our-talent #form-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#meet-our-talent #form-card-head {
    font-size: 24px;
    font-weight: 700;
}

#meet-our-talent #form-card-text {
    font-size: 48px;
    font-weight: 400;
}

#form-card .form-field {
    display: flex;
    flex-direction: column;
}

#form-card label {
    font-weight: 500;
    font-size: 16px;
}

#form-card form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#form-card form input,
#form-card form textarea {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    border: 0;
    outline: 0;
    color: #fff;
    padding: 0 20px;
}

#form-card form #project-input {
    min-height: 124px;
    padding: 20px;
}

#form-card #form-submit-button {
    width: 100%;
    margin: 20px 0;
    font-weight: 500;
    font-size: 16px;
    background-color: #fff;
    color: var(--brand-color)
}


/* product associate        */

#our-product-associate-section .head-text {
    font-size: 40px;
    font-weight: 400;
}


/* faq */

#faq-section {
    background-color: rgba(204, 32, 32, 0.04);
    padding: 60px 10vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#faq-section #faq-head {
    text-align: center;
    font-family: fraunces;
    color: var(--brand-color)
}

#faq-section p {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}

#faq-section #questions-block {
    display: flex;
    flex-direction: column;
}

#faq-section .question {
    border: 1px var(--brand-color) solid;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    min-height: 80px;
    color: var(--brand-color)
}

#faq-section .question::after {
    content: url(../images/Vector\ \(5\).svg);
    display: block;
}

#faq-section .answer {
    overflow: hidden;
    height: 0;
    padding-left: 20px;
    transition: height 1s;
    border-left: 1px var(--brand-color) solid;
    border-right: 1px var(--brand-color) solid;
}

#faq-section .question.active+.answer {
    height: 100px;
}

#faq-section .question.active::after {
    content: url(../images/Vector\ \(1\).svg)
}


/* footer */


/* footer {
    padding: 0 5vw;
} */

footer #footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

footer #bismuth-footer-section {
    width: 400px;
    font-size: 20px;
    font-weight: 400;
}

footer #footer-logo {
    width: 160px
}

footer .footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .footer-section .footer-head {
    color: var(--brand-color);
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 30px;
}

footer .footer-section a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

footer #social-links {
    display: flex;
    justify-content: space-between;
}

#copy-right-section {
    height: 120px;
    background-color: var(--brand-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1120px) {
    #meet-our-talent #form-card {
        flex-direction: column;
    }
}


/* carousel */
.swiper {
    width: min(1000px, 100%);
    height: 500px;
    margin-top: 50px;
}

.swiper-slide{
    object-fit: cover;
}

.carousel-arr::after{
    color: red
}